/* https://codepen.io/lideo/pen/KKGeQG */
.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.flex-size-2 {
  flex: 2 100%;
}

.flex-size-1 {
  flex: 1;
}

.box {
  width: 150px;
  height: 75px;
  background-color: tan;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
}

.box.arrow-top {
  margin-top: 40px;
}

.box.arrow-top:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid tan;
}

.box.arrow-right:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid tan;
  border-bottom: 15px solid transparent;
}

.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px solid tan;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}

.box.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid tan;
  border-left: none;
  border-bottom: 15px solid transparent;
}

.right-align { float: right }
.left-align { float: left }
